Telegram Flows-Nodered/flows2.json
[{"id":"f6f2187d.f17ca8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7152bfb9.ed431","type":"telegram command","z":"f6f2187d.f17ca8","name":"","command":"/start","bot":"e59ceeac.9243f","strict":false,"hasresponse":false,"useregex":false,"removeregexcommand":false,"outputs":1,"x":130,"y":120,"wires":[["3342d658.8b3bea"]]},{"id":"3913d4eb.a50a2c","type":"telegram sender","z":"f6f2187d.f17ca8","name":"","bot":"e59ceeac.9243f","haserroroutput":false,"outputs":1,"x":880,"y":140,"wires":[[]]},{"id":"3342d658.8b3bea","type":"function","z":"f6f2187d.f17ca8","name":"","func":"var helpMessage = \"Welcome. \"+ \"Here a list of commands that i perform for you: \";\nhelpMessage += \"\\n\\r\";\nhelpMessage += \"\\n\\r\";\nhelpMessage += \"Barrel11:\";\nhelpMessage += \"\\n\\r\";\nhelpMessage +=\"/sensorsbarrel11\";\nhelpMessage += \"\\n\\r\";\nhelpMessage +=\"/qualitybarrel11\";\nhelpMessage += \"\\n\\r\";\nhelpMessage += \"\\n\\r\";\nhelpMessage += \"Barrel12:\";\nhelpMessage += \"\\n\\r\";\nhelpMessage +=\"/sensorsbarrel12\";\nhelpMessage += \"\\n\\r\";\nhelpMessage +=\"/qualitybarrel12\";\nhelpMessage += \"\\n\\r\";\nhelpMessage += \"\\n\\r\";\nhelpMessage += \"Barrel13:\";\nhelpMessage += \"\\n\\r\";\nhelpMessage +=\"/sensorsbarrel13\";\nhelpMessage += \"\\n\\r\";\nhelpMessage +=\"/qualitybarrel13\";\nhelpMessage += \"\\n\\r\";\nhelpMessage += \"\\n\\r\";\nhelpMessage += \"Barrel21:\";\nhelpMessage += \"\\n\\r\";\nhelpMessage +=\"/sensorsbarrel21\";\nhelpMessage += \"\\n\\r\";\nhelpMessage +=\"/qualitybarrel21\";\nhelpMessage += \"\\n\\r\";\nhelpMessage += \"\\n\\r\";\nhelpMessage += \"Barrel22:\";\nhelpMessage += \"\\n\\r\";\nhelpMessage +=\"/sensorsbarrel22\";\nhelpMessage += \"\\n\\r\";\nhelpMessage +=\"/qualitybarrel22\";\nhelpMessage += \"\\n\\r\";\nhelpMessage += \"\\n\\r\";\nhelpMessage += \"Barrel31:\";\nhelpMessage += \"\\n\\r\";\nhelpMessage +=\"/sensorsbarrel31\";\nhelpMessage += \"\\n\\r\";\nhelpMessage +=\"/qualitybarrel31\";\nhelpMessage += \"\\n\\r\";\nhelpMessage += \"\\n\\r\";\nhelpMessage += \"Barrel41:\";\nhelpMessage += \"\\n\\r\";\nhelpMessage +=\"/sensorsbarrel41\";\nhelpMessage += \"\\n\\r\";\nhelpMessage +=\"/qualitybarrel41\";\nhelpMessage += \"\\n\\r\";\nhelpMessage += \"\\n\\r\";\nhelpMessage += \"Barrel42:\"\nhelpMessage += \"\\n\\r\";\nhelpMessage +=\"/sensorsbarrel42\";\nhelpMessage += \"\\n\\r\";\nhelpMessage +=\"/qualitybarrel42\";\nhelpMessage += \"\\n\\r\";\nhelpMessage += \"\\n\\r\";\nhelpMessage += \"Barrel51:\"\nhelpMessage += \"\\n\\r\";\nhelpMessage +=\"/sensorsbarrel51\";\nhelpMessage += \"\\n\\r\";\nhelpMessage +=\"/qualitybarrel51\";\nmsg.payload.content = helpMessage;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":140,"wires":[["3913d4eb.a50a2c"]]},{"id":"ad8c06c0.ed6a48","type":"telegram command","z":"f6f2187d.f17ca8","name":"","command":"/qualitybarrel11","bot":"e59ceeac.9243f","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":140,"y":380,"wires":[["7767523f.49c1dc"],[]]},{"id":"7767523f.49c1dc","type":"http request","z":"f6f2187d.f17ca8","name":"","method":"GET","ret":"txt","paytoqs":"query","url":"https://home.myopenhab.org/rest/items/WineQuality11/state","tls":"","persist":false,"proxy":"","authType":"basic","x":710,"y":360,"wires":[["fc5fa4c8.6709f8"]]},{"id":"1fd85001.7030d","type":"debug","z":"f6f2187d.f17ca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1610,"y":760,"wires":[]},{"id":"fc5fa4c8.6709f8","type":"function","z":"f6f2187d.f17ca8","name":"","func":"msg.payload = {\n    type : 'message',\n    content : msg.payload,\n    chatId : msg.originalMessage.from.id\n\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":760,"wires":[["c1cfe550.f9d288"]]},{"id":"cddd5b6b.f8e748","type":"telegram command","z":"f6f2187d.f17ca8","name":"","command":"/qualitybarrel12","bot":"e59ceeac.9243f","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":140,"y":500,"wires":[["fbc7426b.16e3f"],[]]},{"id":"fbc7426b.16e3f","type":"http request","z":"f6f2187d.f17ca8","name":"","method":"GET","ret":"txt","paytoqs":"query","url":"https://home.myopenhab.org/rest/items/WineQuality12/state","tls":"","persist":false,"proxy":"","authType":"basic","x":430,"y":500,"wires":[["fc5fa4c8.6709f8"]]},{"id":"2e613919.f46f26","type":"telegram command","z":"f6f2187d.f17ca8","name":"","command":"/qualitybarrel13","bot":"e59ceeac.9243f","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":140,"y":600,"wires":[["42d984ca.4ebc2c"],[]]},{"id":"42d984ca.4ebc2c","type":"http request","z":"f6f2187d.f17ca8","name":"","method":"GET","ret":"txt","paytoqs":"query","url":"https://home.myopenhab.org/rest/items/WineQuality13/state","tls":"","persist":false,"proxy":"","authType":"basic","x":430,"y":600,"wires":[["fc5fa4c8.6709f8"]]},{"id":"34b650a7.46872","type":"telegram command","z":"f6f2187d.f17ca8","name":"","command":"/qualitybarrel21","bot":"e59ceeac.9243f","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":140,"y":680,"wires":[["d4b9d963.fc43f8"],[]]},{"id":"d4b9d963.fc43f8","type":"http request","z":"f6f2187d.f17ca8","name":"","method":"GET","ret":"txt","paytoqs":"query","url":"https://home.myopenhab.org/rest/items/WineQuality21/state","tls":"","persist":false,"proxy":"","authType":"basic","x":430,"y":680,"wires":[["fc5fa4c8.6709f8"]]},{"id":"9111f06c.7e70d","type":"telegram command","z":"f6f2187d.f17ca8","name":"","command":"/qualitybarrel22","bot":"e59ceeac.9243f","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":140,"y":740,"wires":[["230cc019.896ba"],[]]},{"id":"230cc019.896ba","type":"http request","z":"f6f2187d.f17ca8","name":"","method":"GET","ret":"txt","paytoqs":"query","url":"https://home.myopenhab.org/rest/items/WineQuality22/state","tls":"","persist":false,"proxy":"","authType":"basic","x":430,"y":740,"wires":[["fc5fa4c8.6709f8"]]},{"id":"9f2ef1ca.0d309","type":"telegram command","z":"f6f2187d.f17ca8","name":"","command":"/qualitybarrel31","bot":"e59ceeac.9243f","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":120,"y":840,"wires":[["bbc76dcf.f9751"],[]]},{"id":"bbc76dcf.f9751","type":"http request","z":"f6f2187d.f17ca8","name":"","method":"GET","ret":"txt","paytoqs":"query","url":"https://home.myopenhab.org/rest/items/WineQuality31/state","tls":"","persist":false,"proxy":"","authType":"basic","x":410,"y":840,"wires":[["fc5fa4c8.6709f8"]]},{"id":"521fc715.7b8068","type":"telegram command","z":"f6f2187d.f17ca8","name":"","command":"/qualitybarrel41","bot":"e59ceeac.9243f","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":120,"y":920,"wires":[["ad6f08e8.41b218"],[]]},{"id":"ad6f08e8.41b218","type":"http request","z":"f6f2187d.f17ca8","name":"","method":"GET","ret":"txt","paytoqs":"query","url":"https://home.myopenhab.org/rest/items/WineQuality41/state","tls":"","persist":false,"proxy":"","authType":"basic","x":390,"y":920,"wires":[["fc5fa4c8.6709f8"]]},{"id":"2325ad98.b9c0b2","type":"telegram command","z":"f6f2187d.f17ca8","name":"","command":"/qualitybarrel42","bot":"e59ceeac.9243f","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":120,"y":1000,"wires":[["2964e6b9.1e578a"],[]]},{"id":"2964e6b9.1e578a","type":"http request","z":"f6f2187d.f17ca8","name":"","method":"GET","ret":"txt","paytoqs":"query","url":"https://home.myopenhab.org/rest/items/WineQuality42/state","tls":"","persist":false,"proxy":"","authType":"basic","x":370,"y":1000,"wires":[["fc5fa4c8.6709f8"]]},{"id":"7c693472.aa164c","type":"telegram command","z":"f6f2187d.f17ca8","name":"","command":"/qualitybarrel51","bot":"e59ceeac.9243f","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":120,"y":1100,"wires":[["aa901d05.a0e05"],[]]},{"id":"aa901d05.a0e05","type":"http request","z":"f6f2187d.f17ca8","name":"","method":"GET","ret":"txt","paytoqs":"query","url":"https://home.myopenhab.org/rest/items/WineQuality51/state","tls":"","persist":false,"proxy":"","authType":"basic","x":370,"y":1100,"wires":[["fc5fa4c8.6709f8"]]},{"id":"c8a54536.761478","type":"telegram command","z":"f6f2187d.f17ca8","name":"","command":"/list","bot":"e59ceeac.9243f","strict":false,"hasresponse":false,"useregex":false,"removeregexcommand":false,"outputs":1,"x":130,"y":240,"wires":[["3342d658.8b3bea"]]},{"id":"c1cfe550.f9d288","type":"telegram sender","z":"f6f2187d.f17ca8","name":"","bot":"e59ceeac.9243f","haserroroutput":false,"outputs":1,"x":1240,"y":740,"wires":[["1fd85001.7030d"]]},{"id":"e59ceeac.9243f","type":"telegram bot","botname":"WineryBarrelsBot","usernames":"@Alessandrodm, @giuliasco","chatids":"245965307, 535315140","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false}]