Telegram Flows-Nodered/flows.json
[{"id":"d9ac7ee2.0c5ec","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"b29f27de.077148","type":"telegram command","z":"d9ac7ee2.0c5ec","name":"","command":"/sensorsbarrel11","bot":"e59ceeac.9243f","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":120,"y":160,"wires":[["c64e1e0b.2cf4"],[]]},{"id":"a14c6e4.477499","type":"function","z":"d9ac7ee2.0c5ec","name":"","func":"var message = \"\";\nmembers = msg.payload.members;\nfor(var i in members){\n    message +=members[i].label +\": \"+ members[i].state + \"\\n\\r\" ;\n}\nmsg.payload = {\n    chatId : msg.originalMessage.from.id,\n    type : \"message\",\n    content : message\n};\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1340,"y":500,"wires":[["886b0b04.f55138"]]},{"id":"c64e1e0b.2cf4","type":"http request","z":"d9ac7ee2.0c5ec","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://home.myopenhab.org/rest/items/Barrel1","tls":"","persist":false,"proxy":"","authType":"basic","x":630,"y":140,"wires":[["2aa965ce.bd0d0a"]]},{"id":"2aa965ce.bd0d0a","type":"json","z":"d9ac7ee2.0c5ec","name":"","property":"payload","action":"","pretty":false,"x":1130,"y":500,"wires":[["a14c6e4.477499"]]},{"id":"bd48f4a3.a2a938","type":"telegram command","z":"d9ac7ee2.0c5ec","name":"","command":"/sensorsbarrel12","bot":"e59ceeac.9243f","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":120,"y":240,"wires":[["ea12bfc0.5aaf2"],[]]},{"id":"b7448a41.935d58","type":"telegram command","z":"d9ac7ee2.0c5ec","name":"","command":"/sensorsbarrel13","bot":"e59ceeac.9243f","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":120,"y":300,"wires":[["c3714fa0.5f487"],[]]},{"id":"8343b113.1c52","type":"telegram command","z":"d9ac7ee2.0c5ec","name":"","command":"/sensorsbarrel21","bot":"e59ceeac.9243f","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":120,"y":380,"wires":[["82044957.4d5718"],[]]},{"id":"9a5d915d.1b02c","type":"telegram command","z":"d9ac7ee2.0c5ec","name":"","command":"/sensorsbarrel22","bot":"e59ceeac.9243f","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":120,"y":440,"wires":[["d5010529.134578"],[]]},{"id":"f1dfddd1.92028","type":"telegram command","z":"d9ac7ee2.0c5ec","name":"","command":"/sensorsbarrel31","bot":"e59ceeac.9243f","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":120,"y":520,"wires":[["a23efbea.d4f948"],[]]},{"id":"8c191fcf.aab45","type":"telegram command","z":"d9ac7ee2.0c5ec","name":"","command":"/sensorsbarrel41","bot":"e59ceeac.9243f","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":120,"y":600,"wires":[["7ef4f814.1785c8"],[]]},{"id":"f3427f1d.15c5","type":"telegram command","z":"d9ac7ee2.0c5ec","name":"","command":"/sensorsbarrel42","bot":"e59ceeac.9243f","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":120,"y":680,"wires":[["53f2331f.1ccafc"],[]]},{"id":"f972a50c.5a81e8","type":"telegram command","z":"d9ac7ee2.0c5ec","name":"","command":"/sensorsbarrel51","bot":"e59ceeac.9243f","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":120,"y":760,"wires":[["62f45ea0.8211a"],[]]},{"id":"ea12bfc0.5aaf2","type":"http request","z":"d9ac7ee2.0c5ec","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://home.myopenhab.org/rest/items/barrel12","tls":"","persist":false,"proxy":"","authType":"basic","x":630,"y":240,"wires":[["2aa965ce.bd0d0a"]]},{"id":"c3714fa0.5f487","type":"http request","z":"d9ac7ee2.0c5ec","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://home.myopenhab.org/rest/items/Barrel13","tls":"","persist":false,"proxy":"","authType":"basic","x":630,"y":300,"wires":[["2aa965ce.bd0d0a"]]},{"id":"82044957.4d5718","type":"http request","z":"d9ac7ee2.0c5ec","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://home.myopenhab.org/rest/items/Barrel21","tls":"","persist":false,"proxy":"","authType":"basic","x":630,"y":380,"wires":[["2aa965ce.bd0d0a"]]},{"id":"d5010529.134578","type":"http request","z":"d9ac7ee2.0c5ec","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://home.myopenhab.org/rest/items/Barrel22","tls":"","persist":false,"proxy":"","authType":"basic","x":630,"y":440,"wires":[["2aa965ce.bd0d0a"]]},{"id":"a23efbea.d4f948","type":"http request","z":"d9ac7ee2.0c5ec","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://home.myopenhab.org/rest/items/Barrel31","tls":"","persist":false,"proxy":"","authType":"basic","x":630,"y":520,"wires":[["2aa965ce.bd0d0a"]]},{"id":"7ef4f814.1785c8","type":"http request","z":"d9ac7ee2.0c5ec","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://home.myopenhab.org/rest/items/Barrel41","tls":"","persist":false,"proxy":"","authType":"basic","x":630,"y":600,"wires":[["2aa965ce.bd0d0a"]]},{"id":"53f2331f.1ccafc","type":"http request","z":"d9ac7ee2.0c5ec","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://home.myopenhab.org/rest/items/Barrel42","tls":"","persist":false,"proxy":"","authType":"basic","x":610,"y":680,"wires":[["2aa965ce.bd0d0a"]]},{"id":"62f45ea0.8211a","type":"http request","z":"d9ac7ee2.0c5ec","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://home.myopenhab.org/rest/items/Barrel51","tls":"","persist":false,"proxy":"","authType":"basic","x":610,"y":760,"wires":[["2aa965ce.bd0d0a"]]},{"id":"886b0b04.f55138","type":"telegram sender","z":"d9ac7ee2.0c5ec","name":"","bot":"e59ceeac.9243f","haserroroutput":false,"outputs":1,"x":1550,"y":520,"wires":[[]]},{"id":"e59ceeac.9243f","type":"telegram bot","botname":"WineryBarrelsBot","usernames":"@Alessandrodm, @giuliasco","chatids":"245965307, 535315140","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false}]